# Uncomment with correct values

OAUTH_CLIENT_ID = ""
OAUTH_CLIENT_SECRET = ""
OAUTH_CLIENT_SCOPE = ""
OAUTH_TOKEN_URL = ""

API_URL = ""

SERVERS = [
    {"name": "SiteName1", "address": "/omd/sites/slave1/tmp/run/live"},
    {"name": "SiteName2", "address": ("localhost", 6557)},
]
